.header {
  background-color: $neutral_95;
  color: $neutral_5;

  &__logo {
    display: flex;
    align-items: center;
    font-size: $text-l;
    color: $neutral_5;

    .title {
      line-height: 2rem;
      font-size: 1.5rem;
    }

    .icon {
      margin-right: 1rem;

      font-size: 2rem;
    }
  }
}
