.profile {
  display: flex;
  color: $neutral_5;

  &__info {
    display: flex;
    margin-left: 1rem;
    flex-direction: column;
    justify-content: space-between;

    line-height: 0.75rem;

    .email {
      font-size: $text-s;
      color: $neutral_30;
    }

    .drop-icon {
      margin-left: 0.5rem;
    }
  }
}
