.profile {
  display: flex;
  color: $neutral_5;

  &__info {
    display: flex;
    margin-left: 1rem;
    flex-direction: column;
    justify-content: space-between;

    line-height: 0.75rem;

    .email {
      font-size: $text-s;
      color: $neutral_30;
    }

    .drop-icon {
      margin-left: 0.5rem;
    }
  }

  //&__avatar {
  //  display: flex;
  //  align-items: center;
  //  font-size: $text-l;
  //
  //  .title {
  //    line-height: 2rem;
  //    font-size: 1.5rem;
  //  }
  //
  //  .icon {
  //    margin-right: 1rem;
  //
  //    font-size: 2rem;
  //  }
  //}
}
