@import 'common/reset';
@import '~antd/dist/antd.css';

/* Utils */
@import 'common/utils';
@import 'common/vars';

/* Components */
@import 'components/header';
@import 'components/profile';
@import 'components/chart';
@import 'components/google-link';

body {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
}

.content {
  background: white;
  margin: 1rem 0;
  padding: 1.25rem;
  min-height: calc(100vh - 64px);
}
