@import 'common/reset';
@import '~antd/dist/antd.css';

/* Utils */
@import 'common/utils';
@import 'common/vars';

/* Components */
@import 'components/header';
@import 'components/profile';
@import 'components/chart';

/* UI */
@import 'ui/notifications';

body {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
}


.content {
  background: white;
  margin: 1rem 0;
  padding: 1.25rem;
  min-height: 280px;
}
